<a href="https://colab.research.google.com/github/Muflih7/Tugas-Pertemuan-13-Algoritma-dan-Pemrograman/blob/main/TugasPertemuan13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nama_brg = input("Nama Barang =")
hrg_satuan = eval(input("Harga Satuan =Rp."))
jum_brg = eval(input("Jumlah Barang ="))
hrg_beli = hrg_satuan * jum_brg
total_hrg = hrg_beli
print("Total Harga Barang Rp.",total_hrg)

Nama Barang =pulpen
Harga Satuan =Rp.3000
Jumlah Barang =3
Total Harga Barang Rp. 9000

In [ ]:
x = int(input("Masukkan Bilangan = "))
print("n adalah bilangan", "Genap" if (x % 2 == 0) else "Ganjil")

Masukkan Bilangan = 4
x adalah bilangan Genap

In [ ]:
awal = int(input("Awal ="))
akhir = int(input("Akhir ="))
print("Bilangan diantara %d dan %d"%(awal,akhir))
for i in range(awal,akhir,3):
  print(i, end = '')

Awal =0
Akhir =63
Bilangan diantara 0 dan 63
03691215182124273033363942454851545760

In [ ]:
bil = int(input("Input Bilangan ="))
for i in range(1,bil+1):
  for j in range(1,bil+1):
    if i==j:
      print(i,end=' ')
    else:
      print(end=' ')
print()

Input Bilangan =10
1           2           3           4           5           6           7           8           9           10

In [ ]:
from prettytable import PrettyTable
nomor5 = PrettyTable(['No.','Nama Mhs', 'N.Tugas', 'N.Kuis', 'N.UTS', 'N.UAS', 'N.Akhir'])
nomor5.add_row(['1','Edi Saputra','90','89','88','87','86'])
nomor5.add_row(['2','Amil Sidik','92','91','90','89','88'])
print(nomor5)

+-----+-------------+---------+--------+-------+-------+---------+
| No. |   Nama Mhs  | N.Tugas | N.Kuis | N.UTS | N.UAS | N.Akhir |
+-----+-------------+---------+--------+-------+-------+---------+
|  1  | Edi Saputra |    90   |   89   |   88  |   87  |    86   |
|  2  |  Amil Sidik |    92   |   91   |   90  |   89  |    88   |
+-----+-------------+---------+--------+-------+-------+---------+

In [3]:
mat1 = [
        [3,0],
        [2,3],
]
mat2 = [
        [1,4],
        [5,2],
]
for x in range(0, len(mat1)):
  for y in range(0, len(mat1[0])):
    print (mat1[x][y]+mat2[x][y], end=' '),
print

4 4 7 5